body {
  margin: 10px
}
.highlight {
  cursor: pointer;
}
.highlight:hover {
  font-weight: bold;
}
/*
- NN  Noun, singular or mass
- NNS Noun, plural
- NNP Proper noun, singular
- NNPS  Proper noun, plural
*/
.keyword {
  background: #96D4CC;
}
.tag-nns {
  background: #96D4CC; /* dark green */
}
.tag-nnp {
  background: #DBF5AE; /* green */
}
.tag-nn {
  background: #BAE6A2; /* light green */
}
.entity-person {
  background: #FDD1D2;
}
.entity-date {
  background: #FFF4B0;
}
.entity-org {
  background: #BAD8FF;
}
.entity-gpe {
  background: orange;
}
.image {
  height: 100% !important;
  object-fit: cover !important;
}

.segment {
  width: 800px;
}